
*{
    color: white !important;
    text-decoration: none !important;
    font-family: 'Red Hat Text', sans-serif !important;
}
body{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #1e1e2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
.image_stars{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('./images/bg-stars.svg');
    background-position: top;
    background-repeat: repeat;
    background-size: contain;
    animation: moveStars 150s infinite;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
@keyframes moveStars{
    0%{
        transform: rotate(0deg) scale(1)
    }
    100%{
        transform: rotate(180deg) scale(1.3)
    }
}

.title{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-top: -150px;
    margin-bottom: 50px;
}

.center{
    width: 90%;
    max-width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.card{
    height: 23vw;
    max-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    color: hsl(237, 18%, 59%) !important;
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width: 650px) {
    .card{
        font-size: 2vw !important;
    }
}

.timer{
    position: relative;
    width: 19vw;
    height: 17vw;
    max-width: 140px;
    max-height: 120px;
    background-color: #31374E;
    border-radius: 10px;
    box-shadow: 0 8px 2px 0px #0f0f18be;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .timer{
        box-shadow: 0 1.2vw 0.2vw 0px #0f0f18be;
    }
}

.shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 51%;
    background-color: #00000096;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.5;
    box-shadow: 0 1px 1px 0 #0f0f188c;
}

.circle{
    position: absolute;
    width: 1vw;
    max-width: 7px;
    height: 1.5vw;
    max-height: 10px;
    margin-top: 2px;
    background: #12121f;
}

.left{
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right{
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.number{
    width: 100%;
    text-align: center;
    font-weight: 700 !important;
    font-size: 65px !important;
    margin-right: -8px;
    color: hsl(345, 95%, 68%) !important;
}

@media screen and (max-width: 690px) {
    .number{
        font-size: 8vw !important;
    }
}

/* 
.animation_day{

} 
*/

footer{
    width: 100%;
    height: 14vw;
    min-height: 150px;
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    background-image: url(./images/pattern-hills.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 0 0;
}

.icon_social{
    width: 32px;
    height: 32px;
    margin: 0 8px;
    cursor: pointer;
}

.icon_social:hover path{
    fill: white !important;
}

.attribution { 
    width: 100%;
    margin: auto 0 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5 !important;
}

.attribution a { 
    transition: all .5s !important;
}

.attribution a:hover{
    transition: all .5s !important;
    color: hsl(345, 95%, 68%) !important;
}
